﻿@{
    ViewBag.Title = "Grad-Central";
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="AngularApp" ng-controller="IndexController" ng-init="initHome(@ViewBag.Authenticated,'@ViewBag.UserName')">
<head>
  <meta name="viewport" content="initial-scale=1">
  <base href="~/">
  <title>@ViewBag.Title</title>
  <meta name="google-signin-client_id" content="272499528777-knqpi4tm8v23i93k3fkgmi2gr59uve7c.apps.googleusercontent.com">

  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/AngularApp")
</head>
<body>

  <div class="navbar navbar-default navbar-static-top " role="navigation" ng-show="applicationReady">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="navbarProperties.isCollapsed = !navbarProperties.isCollapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ng-click="goHome()">
          @*<img style="margin-top: -7px; max-width: 200px;" src="/Content/Images/EOG/EOG-logo.png">*@
          <p>Grad Central</p>
        </a>

      </div>
      <div class="navbar-collapse collapse " collapse="navbarProperties.isCollapsed">
        <ul class="nav navbar-nav leftNavOverride" ng-show="currentUser.loggedIn">

            <li class="dropdown" dropdown="" ng-show="userHasPrivileges()">
              <a href="#" class="dropdown-toggle" dropdown-toggle="" data-toggle="dropdown">
                <span>Configurations</span><b class="caret"></b>
              </a>
              <ul class="nav navbar-nav navbar-left" ng-show="currentUser.loggedIn"></ul>
              <ul class="dropdown-menu" role="menu">


                @*<li ng-show="isAllowed('ApplicationMaintenance')">
                    <a href="/#">Application Maintenance</a>
                  </li>*@
                <li ng-show="isAllowed('CampusMaintenance')">
                  <a href="/#/campusMaintenance">Campus Maintenance</a>
                </li>
                <li ng-show="isAllowed('CompanyMaintenance')">
                  <a href="/#/CompanyMaintenance">Company Maintenance</a>
                </li>
                <li ng-show="isAllowed('FacultyMaintenance')">
                  <a href="/#/FacultyMaintenance">Faculty Maintenance</a>
                </li>
                <li ng-show="isAllowed('DepartmentMaintenance')">
                  <a href="/#/DepartmentMaintenance">Department Maintenance</a>
                </li>
                <li ng-show="isAllowed('GraduateMaintenance')">
                  <a href="/#/GraduateMaintenance">Graduate Maintenance</a>
                </li>
                <li ng-show="isAllowed('JobRoleMaintenance')">
                  <a href="/#/JobRoleMaintenance">Job Role Maintenance</a>
                </li>
                <li ng-show="isAllowed('JobMaintenance')">
                  <a href="/#/JobMaintenance">Job Maintenance</a>
                </li>
                <li ng-show="isAllowed('ModuleMaintenance')">
                  <a href="/#/moduleMaintenance">Module Maintenance</a>
                </li>
                <li ng-show="isAllowed('Notifications')">
                  <a href="/#">My Notifications</a>
                </li>
                <li ng-show="isAllowed('GraduateMaintenance')">
                  <a href="/#/PossibleCandidate">Possible Candidate</a>
                </li>
                @*<li ng-show="isAllowed('Qualifications')">
                    <a href="/#">My Qualifications</a>
                  </li>*@
                <li ng-show="isAllowed('QualificationMaintenance')">
                  <a href="/#/qualificationMaintenance"> Qualification Maintenance</a>
                </li>
                <li ng-show="isAllowed('RoleMaintenance')">
                  <a href="/#/roleMaintenance">Role Maintenance</a>
                </li>
                <li ng-show="isAllowed('RecruiterMaintenance')">
                  <a href="/#/RecruiterMaintenance">Recruiter Maintenance</a>
                </li>

                <li ng-show="isAllowed('TertiaryMaintenance')">
                  <a href="/#/tertiaryMaintenance">Tertiary Maintenance</a>
                </li>

                @*<li ng-show="isAllowed('JobSearch')">
                    <a href="/#">Job Search</a>
                  </li>
                  <li ng-show="isAllowed('Applications')">
                    <a href="/#">My Applications</a>
                  </li>*@



                <li ng-show="isAllowed('UserMaintenance')">
                  <a href="/#/userMaintenance">User Maintenance</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right rightNavOverride" ng-show="!currentUser.loggedIn">
            <li>
              <a href="/#/login">Login</a>
            </li>
            <li>
              <a href="/#/register">Register</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right rightNavOverride" ng-show="currentUser.loggedIn">
            <li>
              <a href="/#/myProfile">Welcome {{currentUser.displayName}}</a>
            </li>
            <li>
              <a href="#" ng-click="logout()">Logout</a>
            </li>

        </ul>

      </div>
    </div>
  </div>




  <div class="col-sm-3">
    <toaster-container toaster-options="{'time-out':7000}"></toaster-container>
  </div>

  <div class="container mainContent col-lg-12">
    <div ng-view>

    </div>
  </div>

  <div id="footer" class="center-block">
    <div class="container mainContent">

    </div>
  </div>


</body>


</html>