﻿
<div class="col-lg-10 col-lg-offset-1">
    <h2>Department Maintenance</h2>
    <div class="row top-buffer">
        <input type="button" ng-click="newDepartment()" value="New" class="btn btn-default btn-primary" />
    </div>
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="input-group">
                <input type="search" class="form-control" placeholder="Search for..." ng-model="searchFor">
                <div class="input-group-btn">
                    <button class="btn btn-default pull-left" type="button" ng-click="search()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
        <button class="btn btn-default pull-right" type="button" ng-click="print('div-id-name')" title="Print Department Report">
            <span class="glyphicon glyphicon-print"></span>
        </button>
    </div>
    <div class="row top-buffer table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        <a href="" ng-click="sort('name')">Name</a>
                        <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='name'}"></i>
                        <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='name'}"></i>
                    </th>
                    <th>
                        <a href="" ng-click="sort('Faculty')">Faculty</a>
                        <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='Faculty'}"></i>
                        <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='Faculty'}"></i>
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="i in DepartmentGrid">
                    <td>{{i.name}}</td>
                    <td>{{i.faculty.name}}</td>
                    <td><a href="/#/DepartmentEdit/{{i.id}}">Edit</a></td>
                </tr>
            </tbody>
        </table>
        <span data-pagination data-total-items="totalItems" data-ng-model="currentPage" data-max-size="numberOfPageButtons" class=" pagination-sm" data-boundary-links="true" data-rotate="false" data-ng-change="pageChanged()" data-items-per-page="recordsPerPage"></span>
    </div>

