﻿
<h2>Overview</h2>

<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <a href="/#/userMaintenance">
        <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Users</span>
          <span class="info-box-number">{{users.length}}</span>
        </div>
       </a> <!-- /.info-box-content -->
</div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <a href="/#/GraduateMaintenance">
        <span class="info-box-icon bg-red"><i class="fa fa-graduation-cap"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Graduates</span>
          <span class="info-box-number">{{graduates.length}}</span>
        </div>
      </a> <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <a href="/#/tertiaryMaintenance">
        <span class="info-box-icon bg-red"><i class="fa fa-university"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Tertiaries</span>
          <span class="info-box-number">{{tertiaries.length}}</span>
        </div>
       </a> <!-- /.info-box-content -->
</div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->


  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <a href="/#/CompanyMaintenance">
        <span class="info-box-icon bg-green"><i class="fa fa-building-o"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Companies</span>
          <span class="info-box-number">{{companies.length}}</span>
        </div>
       </a> <!-- /.info-box-content -->
</div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>

<section class="content">
  <div class="row">
    <div class="col-md-6">
      <!-- AREA CHART -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Job Posts</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <canvas id="areaChart" style="height: 249px; width: 547px;" height="249" width="547"></canvas>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <!-- DONUT CHART -->
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">Graduates</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <canvas id="pieChart" style="height: 273px; width: 547px;" height="273" width="547"></canvas>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
    <!-- /.col (LEFT) -->
    <div class="col-md-6">
      <!-- LINE CHART -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Recruitment Agencies</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <canvas id="lineChart" style="height: 249px; width: 547px;" height="249" width="547"></canvas>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <!-- BAR CHART -->
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Monthly Report</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
              <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <div class="chart">
            <canvas id="barChart" style="height: 230px; width: 547px;" height="230" width="547"></canvas>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
    <!-- /.col (RIGHT) -->
  </div>
  <!-- /.row -->

</section>