﻿<form Module="form" name="NewModuleForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Module</legend>
        <div class="form-group" show-errors>
            <label for="qualification" class="col-sm-3 control-label">Qualification:</label>
            <div class="col-sm-9">
                <select name="qualification" class="form-control" ng-options="q.id as q.name for q in qualificationList" ng-model="viewModel.qualificationId"></select>
                <span class="help-block" ng-show="NewModuleForm.Qualification.$invalid">Qualification Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <lable for="name" class="col-sm-3 control-label">Module Name:</lable>
            <div class="col-sm-9">
                <input name="name" type="text" ng-model="viewModel.name" class="form-control" ng-required="true" />
                <span class="help-block" ng-show="NewModuleForm.Name.$invalid">Module Name Required</span>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="semester" class="col-sm-3 control-label">Semester:</label>  
            <div class="col-sm-9">
                <select name="semester" class="form-control" ng-options="s.value as s.lable for s in semesterOptions" ng-model="viewModel.semesterTypes" ng-required="true"></select>
                <span class="help-block" ng-show="NewModuleForm.Semester.$invalid">Semester Required</span>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-9">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
            <input type="submit" class="btn btn-primary" value="Save" ng-click="submitForm()" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
        </div>
        <div class="col-sm-12">
            <br />
            <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
        </div>
    </div>
</form>
