﻿<form role="form" name="UserRoleForm" class="form-horizontal" novalidate>
  <fieldset>
    <legend>Recruiter Details</legend>

    <input name="id" type="hidden" ng-model="viewModel.id" class="form-control" ng-hide />

    <div class="form-group" show-errors>
      <label for="title" class="col-sm-3 control-label">Title:</label>
      <div class="col-sm-9">
        <select name="title" class="form-control" ng-options="u.value as u.description for u in titleOptions" ng-model="viewModel.userIdentity.title" ng-required="true"></select>
        <span class="help-block" ng-show="UserRoleForm.title.$invalid">Title Required</span>
      </div>
    </div>

    <div class="form-group" show-errors>
      <label for="name" class="col-sm-3 control-label">User Name:</label>
      <div class="col-sm-9">
        <input name="name" type="text" ng-model="viewModel.userIdentity.userName" class="form-control" ng-required="true" />
        <span class="help-block" ng-show="UserRoleForm.name.$invalid">User Name Required</span>
      </div>
    </div>
    <div class="form-group" show-errors ng-if="viewModel.id == 0">
      <label for="type" class="col-sm-3 control-label">Types:</label>
      <div class="col-sm-9">
        <select name="type" class="form-control" ng-options="u.value as u.description for u in options" ng-model="viewModel.userIdentity.type" ng-required="true"></select>
        <span class="help-block" ng-show="UserRoleForm.type.$invalid">Type Required</span>
      </div>
    </div>
    <div class="form-group" show-errors>
      <label for="email" class="col-sm-3 control-label">Email:</label>
      <div class="col-sm-9">
        <input name="email" type="text" ng-model="viewModel.userIdentity.email" class="form-control" ng-required="true" />
        <span class="help-block" ng-show="UserRoleForm.email.$invalid">Email Address Required</span>
      </div>
    </div>
    <div class="form-group" show-errors>
      <label for="firstName" class="col-sm-3 control-label">First Name:</label>
      <div class="col-sm-9">
        <input name="firstName" type="text" ng-model="viewModel.userIdentity.firstName" class="form-control" ng-required="true" />
        <span class="help-block" ng-show="UserRoleForm.firstName.$invalid">First Name Required</span>
      </div>
    </div>
    <div class="form-group" show-errors>
      <label for="surname" class="col-sm-3 control-label">Surname:</label>
      <div class="col-sm-9">
        <input name="surname" type="text" ng-model="viewModel.userIdentity.surname" class="form-control" ng-required="true" />
        <span class="help-block" ng-show="UserRoleForm.surname.$invalid">Surname Required</span>
      </div>
    </div>
    <div class="form-group" show-errors>
      <label for="company" class="col-sm-3 control-label">Recruitment Agency:</label>
      <div class="col-sm-9">
        <input name="company" type="text" ng-model="viewModel.company.name" class="form-control" ng-required="true" />
        <span class="help-block" ng-show="UserRoleForm.company.$invalid">Recruitment Agency Required</span>
      </div>
    </div>
    <div ng-if="viewModel.type === 'GraduateGridModel'" class="form-group">
      <label for="isEmployed" class="col-sm-3 control-label">Is Employed:</label>
      <div class="col-sm-9">
        <input name="isEmployed" type="checkbox" ng-model="viewModel.userIdentity.graduate.isEmployed" />
      </div>
    </div>
    <div class="form-group">
      <label for="lockOut" class="col-sm-3 control-label">Is Locked Out:</label>
      <div class="col-sm-9">
        <input name="lockOut" type="checkbox" ng-model="viewModel.userIdentity.lockedOut" />
      </div>
    </div>

  </fieldset>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-9 ">
      <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
    </div>
    <div class="col-sm-12">
      <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
    </div>
  </div>

</form>
