﻿
<div class="col-lg-10 col-lg-offset-1">
  <h2>Job Candidates</h2>
    <!--<div class="row">
      <div class="col-sm-3 col-md-3">
        <b>Race :</b>{{race}} <br />
        <b>Gender</b>{{gender}}<br />
        <b>Is Disable :</b>{{isDisable}}<br />
        <b>Minimum GPA :</b>{{gpa}}<br />
        <b>Qualification</b>{{qualification.name}}<br />
        <button class="btn btn-primary" ng-click="submitForm()" ng-disabled="possibleCandidatesList.length === 0">Send Notification</button>
      </div>
    </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
    </div>
    <div class="col-sm-12">
      <br />
      <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
    </div>
  </div>-->
  <div class="row top-buffer table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            <a href="" ng-click="sort('firstName')">Name</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='firstName'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='firstName'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('surname')">Surname</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='surname'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='surname'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('emailAddress')">Email Address</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='emailAddress'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='emailAddress'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('isdisable')">Disable</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='isdisable'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='isdisable'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('tertiary')">Tertiary</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='tertiary'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='tertiary'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('race')">Race</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='race'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='race'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('gender')">Gender</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='gender'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='gender'}"></i>
          </th>
          <th>
            <a href="">Qualifications</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='qualifications'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='qualifications'}"></i>
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="i in jobCandidates">
          <td>{{i.userIdentity.firstName}}</td>
          <td>{{i.userIdentity.surname}}</td>
          <td>{{i.userIdentity.email}}</td>
          <td>{{i.isDisable}}</td>
          <td>{{i.tertiary != null ? i.tertiary.name : 'Never Registered'}}</td>
          <td>{{i.raceString}}</td>
          <td>{{i.userIdentity.genderString}}</td>
          <td>
            <p ng-if="i.qualifications === null">0</p>
            <ul ng-if="i.qualifications  != null">
              <li data-ng-repeat="q in i.qualifications">{{q.name}} - ({{q.marks[0].gpa}})</li>
            </ul>
          </td>
          <td><a href="/GraduateEdit/{{i.id}}">View</a></td>
        </tr>
      </tbody>
    </table>
    <span data-pagination data-total-items="totalItems" data-ng-model="currentPage" data-max-size="numberOfPageButtons" class=" pagination-sm" data-boundary-links="true" data-rotate="false" data-ng-change="pageChanged()" data-items-per-page="recordsPerPage"></span>
  </div>
</div>

<div class="hidden" id="div-id-name">
  <h1>Graduate Report</h1>
  <h3>{{dateTime | date}}</h3>
  <table class="table table-bordered table-striped" style="border-width: thick">
    <thead>
      <tr>
        <th>
          <a href="" ng-click="sort('firstName')">Name</a>
        </th>
        <th>
          <a href="" ng-click="sort('surname')">Surname</a>
        </th>
        <th>
          <a href="" ng-click="sort('isEmployed')">Employed</a>
        </th>
        <th>
          <a href="" ng-click="sort('isDisable')">Disable</a>
        </th>
        <th>
          <a href="" ng-click="sort('tertiary')">Tertiary</a>
        </th>
        <th>
          <a href="" ng-click="sort('isNasfas')">Is Nasfas</a>
        </th>
        <th>
          <a href="" ng-click="sort('race')">Race</a>
        </th>
        <th>
          <a href="" ng-click="sort('gender')">Gender</a>
        </th>
        <th>
          <a href="" ng-click="sort('qualifications')">Qualifications</a>
        </th>
      </tr>
    </thead>
    <tbody data-ng-repeat="i in GraduateGrid">
      <tr>
        <td>{{i.userIdentity.firstName}}</td>
        <td>{{i.userIdentity.surname}}</td>
        <td>{{i.isEmployed}}</td>
        <td>{{i.isDisable}}</td>
        <td>{{i.tertiary != null ? i.tertiary.name : 'Never Registered'}}</td>
        <td>{{i.isNasfas}}</td>
        <td>{{i.raceString}}</td>
        <td>{{i.userIdentity.genderString}}</td>
        <td>
          <p ng-if="i.qualifications === null">0</p>
          <ul ng-if="i.qualifications  != null">
            <li data-ng-repeat="q in i.qualifications">{{q.name}}  - ({{q.marks[0].gpa}})</li>
          </ul>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <p>Total Graduates : {{GraduateGrid.length}}</p>
    </tfoot>
  </table>
</div>