﻿
<div class="col-lg-10 col-lg-offset-1">
  <h2>Notification Maintenance</h2>
  <div class="row top-buffer">
    <input type="button" ng-click="newNotification()" value="New" class="btn btn-default btn-primary" />
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Search for..." ng-model="searchFor">
        <div class="input-group-btn">
          <button class="btn btn-default pull-left" type="button" ng-click="search()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-default pull-right" type="button" ng-click="print('div-id-name')" title="Print Notification Report">
      <span class="glyphicon glyphicon-print"></span>
    </button>
  </div>


  <div id="Table" class="row top-buffer table-responsive">
    <table id="QualificationTable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            <a href="" ng-click="sort('id')">Id</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='id'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='id'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('DateCreated')">Date Created</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='DateCreated'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='DateCreated'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('Message')">Message</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='Message'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='Message'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('Job')">Job Position</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='Job'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='Job'}"></i>
          </th>

          <th>
            <a href="" ng-click="sort('ExpiryDate')">Deadline Date</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='ExpiryDate'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='ExpiryDate'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('Job')">Confirmed</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='Job'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='Job'}"></i>
          </th>

          <th>
            <a href="" ng-click="sort('Job')">Recieved</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='Job'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='Job'}"></i>
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody data-ng-repeat="i in NotificationGrid">
        <tr>
          <td>{{i.id}}</td>
          <td>{{i.datecreated |date}}</td>
          <td>{{i.message}}</td>
          <td>{{i.expirydate | date}}</td>
          <td>{{i.job.title}}</td>
          <td><a href="/#/notificationEdit/{{i.id}}">Edit</a></td>



        </tr>
      </tbody>

    </table>

    <span data-pagination data-total-items="totalItems" data-ng-model="currentPage" data-max-size="numberOfPageButtons" class=" pagination-sm" data-boundary-links="true" data-rotate="false" data-ng-change="pageChanged()" data-items-per-page="recordsPerPage"></span>
  </div>
</div>

<div class="hidden" id="div-id-name">
  <h1>Notification Report</h1>
  <h3>{{dateTime | date}}</h3>
  <link href="../../../Content/Site.css" rel="stylesheet" media="print" />
  <script src="../../../Scripts/jquery-2.1.4.js"></script>
  <script src="../../../Scripts/bootstrap.js"></script>

</div>

