﻿<form Qualification="form" name="NewQualificationForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Compose Notification</legend>
        <div class="form-group" show-errors>
            <lable for="Message" class="col-sm-3 control-label">Message:</lable>
            <div class="col-sm-9">
                <textarea rows="20" cols="50"  name="Message" type="text" ng-model="viewModel.name" class="form-control" ng-required="true" />
                <span class="help-block" ng-show="NewNotificationForm.Message.$invalid">Message</span>
                </textarea>
            </div>
        </div>
        <div class="form-group" show-errors>
            <lable for="ExpiryDate" class="col-sm-3 control-label">Response Deadline:</lable>
            <div class="col-sm-9">
                <input name="ExpiryDate" type="date" ng-model="viewModel.expiryDate" class="form-control" ng-required="true" />
                <span class="help-block" ng-show="NewNotificationForm.ExpiryDate.$invalid">Response Deadline</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <lable for="Job" class="col-sm-3 control-label">Job:</lable>
            <div class="col-sm-9">
                <select name="Job" type="text" ng-model="viewModel.job" ng-options="c.id as c.title for c in JobList" class="form-control" ng-required="true"> </select>
                <span class="help-block" ng-show="NewNotificationForm.Job.$invalid">Job</span>
            </div>
        </div>
   
    </fieldset>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-9">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
            <input type="submit" class="btn btn-primary" value="Save" ng-click="submitForm()" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
        </div>
        <div class="col-sm-12">
            <br />
            <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
        </div>
    </div>
</form>

