﻿
<div class="col-lg-10 col-lg-offset-1">
  <h2>Qualification Maintenance</h2>
  <div class="row top-buffer">
    <input type="button" ng-click="newQualification()" value="New" class="btn btn-default btn-primary" />
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Search for..." ng-model="searchFor">
        <div class="input-group-btn">
          <button class="btn btn-default pull-left" type="button" ng-click="search()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-default pull-right" type="button" ng-click="print('div-id-name')" title="Print Qualification Report">
      <span class="glyphicon glyphicon-print"></span>
    </button>
  </div>


  <div id="Table" class="row top-buffer table-responsive">
    <table id="QualificationTable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            <a href="" ng-click="sort('id')">Id</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='id'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='id'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('Name')">Name</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='Name'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='Name'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('QualificationType')">QualificationType</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='QualificationType'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='QualificationType'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('Date')">Date Added</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='Date'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='Date'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('Faculty')">Faculty</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='Faculty'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='Faculty'}"></i>
          </th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="i in QualificationGrid">
          <td>{{i.id}}</td>
          <td>{{i.name}}</td>
          <td>{{i.qualification}}</td>
          <td>{{i.date | date}}</td>
          <td>{{i.faculty.name}}</td>
          <td><a href="/#/qualificationEdit/{{i.id}}">Edit</a></td>
        </tr>
      </tbody>

    </table>
    <script type="text/javascript" src="../../../Scripts/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../../../Scripts/jspdf.js"></script>

    <span data-pagination data-total-items="totalItems" data-ng-model="currentPage" data-max-size="numberOfPageButtons" class=" pagination-sm" data-boundary-links="true" data-rotate="false" data-ng-change="pageChanged()" data-items-per-page="recordsPerPage"></span>
  </div>
</div>

<div class="hidden" id="div-id-name">
  <h1>Qualification Report</h1>
  <h3>{{dateTime | date}}</h3>
  <link href="../../../Content/Site.css" rel="stylesheet" media="print" />
  <script src="../../../Scripts/jquery-2.1.4.js"></script>
  <script src="../../../Scripts/bootstrap.js"></script>

</div>

