﻿<form Qualification="form" name="NewQualificationForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Qualification</legend>
        <div class="form-group" show-errors>
            <lable for="Name" class="col-sm-3 control-label"> Name:</lable>
            <div class="col-sm-9">
                <input name="Name" type="text" ng-model="viewModel.name" class="form-control" ng-required="true" />
                <span class="help-block" ng-show="NewQualificationForm.Name.$invalid">Name Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="QualificationType" class="col-sm-3 control-label">Qualification Type:</label>
            <div class="col-sm-9">
                <select name="QualificationType" class="form-control" ng-options="s.value as s.lable for s in qualificationOptions" ng-model="viewModel.QualificationType" ng-required="true"></select>
                <span class="help-block" ng-show="NewQualificationForm.QualificationType.$invalid">Qualification Type Required</span>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label for="Faculty" class="col-sm-3 control-label">Faculty:</label>
            <div class="col-sm-9">
                <select name="Faculty" class="form-control" ng-options="t.id as t.name for t in facultyList" ng-model="viewModel.FacultyId" ng-required="true"></select>
                <span class="help-block" ng-show="NewQualificationForm.Faculty.$invalid">Faculty Required</span>
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-9">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
            <input type="submit" class="btn btn-primary" value="Save" ng-click="submitForm()" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
        </div>
        <div class="col-sm-12">
            <br />
            <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
        </div>
    </div>
</form>

