﻿
<div class="col-lg-10 col-lg-offset-1">
  <h2>Job Maintenance</h2>
  <div class="row top-buffer">
    <input type="button" ng-click="newJob()" value="New" class="btn btn-default btn-primary" />
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Search for..." ng-model="searchFor">
        <div class="input-group-btn">
          <button class="btn btn-default pull-left" type="button" ng-click="search()">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-default pull-right" type="button" ng-click="print('div-id-name')" title="Print Job Report">
      <span class="glyphicon glyphicon-print"></span>
    </button>
  </div>
  <div class="row top-buffer table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>
            <a href="" ng-click="sort('id')">Id</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='id'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='id'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('title')">Title</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='title'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='title'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('gpa')">GPA Score</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='gpa'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='gpa'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('qualification')">Qualification</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='qualification'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='qualification'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('jobRole')">Job Role</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='jobRole'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='jobRole'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('company')">Company</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='company'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='company'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('gender')">Gender</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='gender'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='gender'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('race')">Race</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='race'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='race'}"></i>
          </th>
          <th>
            <a href="" ng-click="sort('disability')">Disability</a>
            <i ng-class="{'glyphicon glyphicon-chevron-up':sortKeyOrder.order=='ASC' && sortKeyOrder.key=='disability'}"></i>
            <i ng-class="{'glyphicon glyphicon-chevron-down':sortKeyOrder.order=='DESC' && sortKeyOrder.key=='disability'}"></i>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="i in JobGrid">
          <td>{{i.id}}</td>
          <td>{{i.title}}</td>
          <td>{{i.gpa}}</td>
          <td>{{i.qualification.name}}</td>
          <td>{{i.jobRole.name}}</td>
          <td>{{i.recruiter.company.name}}</td>
          <td>{{i.gender}}</td>
          <td>{{i.race}}</td>
          <td>{{i.disability === true ? 'Yes' : 'No'}}</td>
          <td>
            <a href="/#/JobCandidates/{{i.id}}">View Candidates</a> | <a href="/#/JobEdit/{{i.id}}">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
    <span data-pagination data-total-items="totalItems" data-ng-model="currentPage" data-max-size="numberOfPageButtons" class="pagination-sm" data-boundary-links="true" data-rotate="false" data-ng-change="pageChanged()" data-items-per-page="recordsPerPage"></span>
  </div>
</div>
<div class="hidden" id="div-id-name">
  <h1>Job Report</h1>
  <h3>{{dateTime | date}}</h3>
  <link href="../../../Content/Site.css" rel="stylesheet" media="print" />
  <script src="../../../Scripts/jquery-2.1.4.js"></script>
  <script src="../../../Scripts/bootstrap.js"></script>
</div>
