﻿<form Job="form" name="NewJobForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Job</legend>
        <div class="form-group" show-errors>
            <label for="company" class="col-sm-3 control-label">Company:</label>
            <div class="col-sm-9">
                <select name="company" class="form-control" ng-options="t.id as t.name for t in recruiterList" ng-model="viewModel.recruiterId" ng-required="true"></select>
                <span class="help-block" ng-show="NewJobForm.company.$invalid">Company Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="Position" class="col-sm-3 control-label">Position:</label>
            <div class="col-sm-9">
                <select name="Position" class="form-control" ng-options="s.value as s.description for s in positionOptions" ng-model="viewModel.positionId">Select Provice</select>
                <span class="help-block" ng-show="NewJobForm.Position.$invalid">Position Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="JobRole" class="col-sm-3 control-label">Job Title:</label>
            <div class="col-sm-9">
                <select name="JobRole" class="form-control" ng-options="j.id as j.name for j in jobRoleList" ng-model="viewModel.jobRoleId" ng-required="true"></select>
                <span class="help-block" ng-show="NewJobForm.JobRole.$invalid">Job Title Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="qualification" class="col-sm-3 control-label">Qualification:</label>
            <div class="col-sm-9">
                <select name="qualification" class="form-control" ng-options="j.id as j.name for j in qualificationList" ng-model="viewModel.qualificationId" ng-required="true"></select>
                <span class="help-block" ng-show="NewJobForm.qualification.$invalid">Qualification Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="Title" class="col-sm-3 control-label">Job Description:</label>
            <div class="col-sm-9">
                <textarea name="Title" class="form-control" ng-model="viewModel.title" ng-required="true"></textarea>
                <span class="help-block" ng-show="NewJobForm.title.$invalid">Job Description Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="gPA" class="col-sm-3 control-label">GPA Score:</label>
            <div class="col-sm-9">
                <input type="text" name="gPA"  ng-model="viewModel.gpa" class="form-control" ng-required="true" />
                <span class="help-block" ng-show="NewJobForm.gPA.$invalid">GPA Score Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="gender" class="col-sm-3 control-label">Gender:</label>
            <div class="col-sm-9">
                <select name="gender" class="form-control" ng-options="s.value as s.description for s in genderOptions" ng-model="viewModel.gender" ng-required="true">Select Provice</select>
                <span class="help-block" ng-show="NewJobForm.gender.$invalid">Gender Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="=race" class="col-sm-3 control-label">Race:</label>
            <div class="col-sm-9">
                <select name="race" class="form-control" ng-options="s.value as s.description for s in raceOptions" ng-model="viewModel.race" ng-required="true">Select Provice</select>
                <span class="help-block" ng-show="NewJobForm.race.$invalid">Race Required</span>
            </div>
        </div>
        <div class="form-group" >
            <label for="Disability" class="col-sm-3 control-label">Disability:</label>
            <div class="col-sm-9">
                <input type="checkbox" name="Disability" value="true" ng-model="viewModel.disability"  style="text-transform:capitalize;"/>
                <!--<span class="help-block" ng-show="NewJobForm.gpa.$invalid">Di Required</span>-->
            </div>
        </div>
    </fieldset>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-9">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
            <input type="submit" class="btn btn-primary" value="Save" ng-click="submitForm()" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
        </div>
        <div class="col-sm-12">
            <br />
            <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
        </div>
    </div>
</form>


