﻿<form Faculty="form" name="NewFacultyForm" class="form-horizontal" novalidate>
    <fieldset>
        <legend>Faculty</legend>
        <div class="form-group" show-errors>
            <label for="Name" class="col-sm-3 control-label"> Name:</label>
            <div class="col-sm-9">
                <input name="Name" type="text" ng-model="viewModel.name" class="form-control" ng-required="true"/>
                <span class="help-block" ng-show="NewFacultyForm.Name.$invalid">Name Required</span>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label for="Campus" class="col-sm-3 control-label">Campus:</label>
            <div class="col-sm-9">
                <select name="Campus" class="form-control" ng-options="c.id as c.name for c in campusList" ng-model="viewModel.CampusId"  ng-required="true"></select>
                <span class="help-block" ng-show="NewFacultyForm.Campus.$invalid">Campus Required</span>
            </div>
        </div>
        
    </fieldset>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-9">
            <input type="button" class="btn btn-default" value="Cancel" ng-click="cancelForm()" />
            <input type="submit" class="btn btn-primary" value="Save" ng-click="submitForm()" />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-success" ng-if="handleSuccess">{{successMessage}}</div>
        </div>
        <div class="col-sm-12">
            <br/>
            <div class="alert alert-danger" ng-if="hasError">{{errorMessage}}</div>
        </div>
    </div>
</form>

