﻿/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body{
    background: #E4E6E8;
    background: url("/Content/Images/EOG/mapMod3.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

a{
    cursor:pointer;
}

*, *:before, *:after {box-sizing:  border-box !important;}

.row {
  padding-top:15px;
  
}

.panel {
 display: inline-block;
 margin:  .5em;
 padding:  0; 
 width:98%;
}

.panel-body {
    background-color: #333;
}

.red {
    color: #3A97B9;
}

.navbar-default {
    background-image: url("/Content/Images/EOG/Mobiliti-background.jpg");
}

@media (min-width: 1200px) {
    .rightNavOverride > li > a{
        margin-top: 20px;
        color: #ffffff !important;
        font-size: medium;
    }
    .leftNavOverride > li > a{
        margin-top: 20px;
        font-size: medium;
    }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
  }

  .row-offcanvas-left
  #sidebarLeft {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }
 
  .row-offcanvas-right 
  #sidebarRight {
    right: -40%;
  }

  .row-offcanvas-right.active {
    right: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 10px;
  }
}


input[type='checkbox'] {
    margin-right:10px;
}